[submodule "lib/credshed"]
    path = lib/credshed
    url = https://github.com/blacklanternsecurity/credshed
    branch = mongo-sharded-v2

[submodule "lib/api"]
    path = lib/credshed-gui
    url = https://github.com/blacklanternsecurity/credshed-gui
    branch = master